* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: #111010;
}

.main {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10rem;
}

p {
  color: #d4d4d4;
}

.section {
  margin-top: 4rem;
}

strong {
  color: paleturquoise;
}

a {
  color: white;
  text-decoration: none;
  text-underline-offset: 0.2rem;
  transition: text-underline-offset 500ms;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 10rem;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}