* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: white;
  background-color: #111010;
}

.main {
  width: 400px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10rem;
}

.main p {
  color: #d4d4d4;
}

strong {
  color: paleturquoise;
}

a {
  color: white;
  text-decoration: none 0.15em rgba(0, 0, 0, 1);
  text-underline-offset: 0.2rem;
  transition: text-underline-offset 500ms;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
